openapi: 3.0.0
info:
  contact:
    name: Trello
    url: https://trello.com/home
  description: |-
    This document describes the REST API of Trello as published by Trello.com.
     - <a href='https://trello.com/docs/index.html' target='_blank'>Official Documentation</a>
     - <a href='https://trello.com/docs/api' target='_blank'>The HTML pages that were scraped in order to generate this specification.</a>
  license:
    name: "Trello : Terms of Service"
    url: https://trello.com/legal
  termsOfService: https://trello.com/legal
  title: Trello
  version: "1.0"
  x-apisguru-categories:
  - collaboration
  x-logo:
    url: https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/c13d1cd96a2cff30f0460a5e1860c5ea/header-logo-blue.svg
  x-origin:
  - version: "3.0"
    format: openapi
    url: https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/trello.com/1.0/swagger.yaml
  x-providerName: trello.com
  x-unofficialSpec: true
externalDocs:
  url: https://developers.trello.com
servers:
- url: https://trello.com/1
tags:
- description: https://trello.com/docs/api/board/index.html
  name: board
- description: https://trello.com/docs/api/member/index.html
  name: member
- description: https://trello.com/docs/api/card/index.html
  name: card
- description: https://trello.com/docs/api/organization/index.html
  name: organization
- description: https://trello.com/docs/api/action/index.html
  name: action
- description: https://trello.com/docs/api/notification/index.html
  name: notification
- description: https://trello.com/docs/api/list/index.html
  name: list
- description: https://trello.com/docs/api/checklist/index.html
  name: checklist
- description: https://trello.com/docs/api/token/index.html
  name: token
- description: https://trello.com/docs/api/webhook/index.html
  name: webhook
- description: https://trello.com/docs/api/label/index.html
  name: label
- description: https://trello.com/docs/api/session/index.html
  name: session
- description: https://trello.com/docs/api/search/index.html
  name: search
- description: https://trello.com/docs/api/batch/index.html
  name: batch
- description: https://trello.com/docs/api/type/index.html
  name: type
paths:
  /actions/{idAction}:
    delete:
      operationId: Action_removeByIdAction
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: deleteActionsByIdAction()
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--actions-idAction
      x-accepts: application/json
    get:
      operationId: Action_getById
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: ' true or false'
        explode: true
        in: query
        name: display
        required: false
        schema:
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: entities
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: data, date, idMemberCreator\
          \ or type"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--actions-idAction-get-parameters-3-schema
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: member
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: member_fields
        required: false
        schema:
          default: "avatarHash, fullName, initials and username"
          example: "avatarHash, fullName, initials and username"
          type: string
          x-konfig-original-example: "avatarHash, fullName, initials and username"
          x-konfig-generated-schema: konfig-generated-schema-paths--actions-idAction-get-parameters-5-schema
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: memberCreator
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: memberCreator_fields
        required: false
        schema:
          default: "avatarHash, fullName, initials and username"
          example: "avatarHash, fullName, initials and username"
          type: string
          x-konfig-original-example: "avatarHash, fullName, initials and username"
          x-konfig-generated-schema: konfig-generated-schema-paths--actions-idAction-get-parameters-7-schema
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsByIdAction()
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--actions-idAction
      x-accepts: application/json
    put:
      operationId: Action_updateByIdAction
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/actions'
        description: Attributes of "Actions" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateActionsByIdAction()
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--actions-idAction
      x-content-type: application/json
      x-accepts: application/json
  /actions/{idAction}/board:
    get:
      operationId: Action_getBoardByIdAction
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: "all or a comma-separated list of: closed, dateLastActivity,\
          \ dateLastView, desc, descData, idOrganization, invitations, invited, labelNames,\
          \ memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred,\
          \ subscribed or url"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--actions-idAction-board-get-parameters-1-schema
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsBoardByIdAction()
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--actions-idAction-board
      x-accepts: application/json
  /actions/{idAction}/board/{field}:
    get:
      operationId: Action_getBoardByIdActionByField
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: field
        explode: false
        in: path
        name: field
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsBoardByIdActionByField()
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--actions-idAction-board-field
      x-accepts: application/json
  /actions/{idAction}/card:
    get:
      operationId: Action_getCardByIdAction
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: "all or a comma-separated list of: badges, checkItemStates, closed,\
          \ dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard,\
          \ idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels,\
          \ manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--actions-idAction-card-get-parameters-1-schema
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsCardByIdAction()
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--actions-idAction-card
      x-accepts: application/json
  /actions/{idAction}/card/{field}:
    get:
      operationId: Action_getCardByIdActionByField
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: field
        explode: false
        in: path
        name: field
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsCardByIdActionByField()
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--actions-idAction-card-field
      x-accepts: application/json
  /actions/{idAction}/display:
    get:
      operationId: Action_getDisplayByIdAction
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsDisplayByIdAction()
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--actions-idAction-display
      x-accepts: application/json
  /actions/{idAction}/entities:
    get:
      operationId: Action_getEntitiesByIdAction
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsEntitiesByIdAction()
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--actions-idAction-entities
      x-accepts: application/json
  /actions/{idAction}/list:
    get:
      operationId: Action_getListByIdAction
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: "all or a comma-separated list of: closed, idBoard, name, pos\
          \ or subscribed"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--actions-idAction-list-get-parameters-1-schema
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsListByIdAction()
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--actions-idAction-list
      x-accepts: application/json
  /actions/{idAction}/list/{field}:
    get:
      operationId: Action_getListByIdActionByField
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: field
        explode: false
        in: path
        name: field
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsListByIdActionByField()
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--actions-idAction-list-field
      x-accepts: application/json
  /actions/{idAction}/member:
    get:
      operationId: Action_getMemberByIdAction
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: "all or a comma-separated list of: avatarHash, avatarSource,\
          \ bio, bioData, confirmed, email, fullName, gravatarHash, idBoards, idBoardsPinned,\
          \ idOrganizations, idPremOrgsAdmin, initials, loginTypes, memberType, oneTimeMessagesDismissed,\
          \ prefs, premiumFeatures, products, status, status, trophies, uploadedAvatarHash,\
          \ url or username"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--actions-idAction-member-get-parameters-1-schema
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsMemberByIdAction()
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--actions-idAction-member
      x-accepts: application/json
  /actions/{idAction}/member/{field}:
    get:
      operationId: Action_getMemberByField
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: field
        explode: false
        in: path
        name: field
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsMemberByIdActionByField()
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--actions-idAction-member-field
      x-accepts: application/json
  /actions/{idAction}/memberCreator:
    get:
      operationId: Action_getMemberCreatorByIdAction
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: "all or a comma-separated list of: avatarHash, avatarSource,\
          \ bio, bioData, confirmed, email, fullName, gravatarHash, idBoards, idBoardsPinned,\
          \ idOrganizations, idPremOrgsAdmin, initials, loginTypes, memberType, oneTimeMessagesDismissed,\
          \ prefs, premiumFeatures, products, status, status, trophies, uploadedAvatarHash,\
          \ url or username"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--actions-idAction-memberCreator-get-parameters-1-schema
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsMemberCreatorByIdAction()
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--actions-idAction-memberCreator
      x-accepts: application/json
  /actions/{idAction}/memberCreator/{field}:
    get:
      operationId: Action_getMemberByIdActionByField
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: field
        explode: false
        in: path
        name: field
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsMemberCreatorByIdActionByField()
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--actions-idAction-memberCreator-field
      x-accepts: application/json
  /actions/{idAction}/organization:
    get:
      operationId: Action_getOrganizationByIdAction
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: "all or a comma-separated list of: billableMemberCount, desc,\
          \ descData, displayName, idBoards, invitations, invited, logoHash, memberships,\
          \ name, powerUps, prefs, premiumFeatures, products, url or website"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--actions-idAction-organization-get-parameters-1-schema
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsOrganizationByIdAction()
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--actions-idAction-organization
      x-accepts: application/json
  /actions/{idAction}/organization/{field}:
    get:
      operationId: Action_getOrgByIdActionByField
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: field
        explode: false
        in: path
        name: field
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsOrganizationByIdActionByField()
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--actions-idAction-organization-field
      x-accepts: application/json
  /actions/{idAction}/text:
    put:
      operationId: Action_updateTextByIdAction
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/actions_text'
        description: Attributes of "Actions Text" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateActionsTextByIdAction()
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--actions-idAction-text
      x-content-type: application/json
      x-accepts: application/json
  /actions/{idAction}/{field}:
    get:
      operationId: Action_getByIdActionField
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: field
        explode: false
        in: path
        name: field
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
        api_token: []
      summary: getActionsByIdActionByField()
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--actions-idAction-field
      x-accepts: application/json
  /batch:
    get:
      operationId: Batch_getData
      parameters:
      - description: "list of API v1 GET routes, not including the version prefix"
        explode: true
        in: query
        name: urls
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
        api_token: []
      summary: getBatch()
      tags:
      - batch
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--batch
      x-accepts: application/json
  /boards:
    post:
      operationId: Board_createBoard
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards'
        description: Attributes of "Boards" to be added.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: addBoards()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--boards
      x-content-type: application/json
      x-accepts: application/json
  /boards/{idBoard}:
    get:
      operationId: Board_getById
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: "all or a comma-separated list of: addAttachmentToCard, addChecklistToCard,\
          \ addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard,\
          \ commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,\
          \ createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard,\
          \ deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp,\
          \ emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization,\
          \ makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard,\
          \ moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard,\
          \ removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,\
          \ updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList,\
          \ updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList,\
          \ updateList:closed, updateList:name, updateMember or updateOrganization"
        explode: true
        in: query
        name: actions
        required: false
        schema:
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: actions_entities
        required: false
        schema:
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: actions_display
        required: false
        schema:
          type: string
        style: form
      - description: "One of: count, list or minimal"
        explode: true
        in: query
        name: actions_format
        required: false
        schema:
          default: list
          example: list
          type: string
          x-konfig-original-example: list
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-4-schema
        style: form
      - description: "A date, null or lastView"
        explode: true
        in: query
        name: actions_since
        required: false
        schema:
          type: string
        style: form
      - description: a number from 0 to 1000
        explode: true
        in: query
        name: actions_limit
        required: false
        schema:
          default: "50"
          example: "50"
          type: string
          x-konfig-original-example: "50"
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-6-schema
        style: form
      - description: "all or a comma-separated list of: data, date, idMemberCreator\
          \ or type"
        explode: true
        in: query
        name: action_fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-7-schema
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: action_member
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: action_member_fields
        required: false
        schema:
          default: "avatarHash, fullName, initials and username"
          example: "avatarHash, fullName, initials and username"
          type: string
          x-konfig-original-example: "avatarHash, fullName, initials and username"
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-9-schema
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: action_memberCreator
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: action_memberCreator_fields
        required: false
        schema:
          default: "avatarHash, fullName, initials and username"
          example: "avatarHash, fullName, initials and username"
          type: string
          x-konfig-original-example: "avatarHash, fullName, initials and username"
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-11-schema
        style: form
      - description: "One of: all, closed, none, open or visible"
        explode: true
        in: query
        name: cards
        required: false
        schema:
          default: none
          example: none
          type: string
          x-konfig-original-example: none
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-12-schema
        style: form
      - description: "all or a comma-separated list of: badges, checkItemStates, closed,\
          \ dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard,\
          \ idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels,\
          \ manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
        explode: true
        in: query
        name: card_fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-13-schema
        style: form
      - description: A boolean value or &quot;cover&quot; for only card cover attachments
        explode: true
        in: query
        name: card_attachments
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: bytes, date, edgeColor, idMember,\
          \ isUpload, mimeType, name, previews or url"
        explode: true
        in: query
        name: card_attachment_fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-15-schema
        style: form
      - description: "One of: all or none"
        explode: true
        in: query
        name: card_checklists
        required: false
        schema:
          default: none
          example: none
          type: string
          x-konfig-original-example: none
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-16-schema
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: card_stickers
        required: false
        schema:
          type: string
        style: form
      - description: "One of: mine or none"
        explode: true
        in: query
        name: boardStars
        required: false
        schema:
          default: none
          example: none
          type: string
          x-konfig-original-example: none
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-18-schema
        style: form
      - description: "One of: all or none"
        explode: true
        in: query
        name: labels
        required: false
        schema:
          default: none
          example: none
          type: string
          x-konfig-original-example: none
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-19-schema
        style: form
      - description: "all or a comma-separated list of: color, idBoard, name or uses"
        explode: true
        in: query
        name: label_fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-20-schema
        style: form
      - description: a number from 0 to 1000
        explode: true
        in: query
        name: labels_limit
        required: false
        schema:
          default: "50"
          example: "50"
          type: string
          x-konfig-original-example: "50"
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-21-schema
        style: form
      - description: "One of: all, closed, none or open"
        explode: true
        in: query
        name: lists
        required: false
        schema:
          default: none
          example: none
          type: string
          x-konfig-original-example: none
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-22-schema
        style: form
      - description: "all or a comma-separated list of: closed, idBoard, name, pos\
          \ or subscribed"
        explode: true
        in: query
        name: list_fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-23-schema
        style: form
      - description: "all or a comma-separated list of: active, admin, deactivated,\
          \ me or normal"
        explode: true
        in: query
        name: memberships
        required: false
        schema:
          default: none
          example: none
          type: string
          x-konfig-original-example: none
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-24-schema
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: memberships_member
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: memberships_member_fields
        required: false
        schema:
          default: fullName and username
          example: fullName and username
          type: string
          x-konfig-original-example: fullName and username
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-26-schema
        style: form
      - description: "One of: admins, all, none, normal or owners"
        explode: true
        in: query
        name: members
        required: false
        schema:
          default: none
          example: none
          type: string
          x-konfig-original-example: none
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-27-schema
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: member_fields
        required: false
        schema:
          default: "avatarHash, initials, fullName, username and confirmed"
          example: "avatarHash, initials, fullName, username and confirmed"
          type: string
          x-konfig-original-example: "avatarHash, initials, fullName, username and\
            \ confirmed"
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-28-schema
        style: form
      - description: "One of: admins, all, none, normal or owners"
        explode: true
        in: query
        name: membersInvited
        required: false
        schema:
          default: none
          example: none
          type: string
          x-konfig-original-example: none
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-29-schema
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: membersInvited_fields
        required: false
        schema:
          default: "avatarHash, initials, fullName and username"
          example: "avatarHash, initials, fullName and username"
          type: string
          x-konfig-original-example: "avatarHash, initials, fullName and username"
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-30-schema
        style: form
      - description: "One of: all or none"
        explode: true
        in: query
        name: checklists
        required: false
        schema:
          default: none
          example: none
          type: string
          x-konfig-original-example: none
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-31-schema
        style: form
      - description: "all or a comma-separated list of: idBoard, idCard, name or pos"
        explode: true
        in: query
        name: checklist_fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-32-schema
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: billableMemberCount, desc,\
          \ descData, displayName, idBoards, invitations, invited, logoHash, memberships,\
          \ name, powerUps, prefs, premiumFeatures, products, url or website"
        explode: true
        in: query
        name: organization_fields
        required: false
        schema:
          default: name and displayName
          example: name and displayName
          type: string
          x-konfig-original-example: name and displayName
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-34-schema
        style: form
      - description: "all or a comma-separated list of: active, admin, deactivated,\
          \ me or normal"
        explode: true
        in: query
        name: organization_memberships
        required: false
        schema:
          default: none
          example: none
          type: string
          x-konfig-original-example: none
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-35-schema
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: myPrefs
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: closed, dateLastActivity,\
          \ dateLastView, desc, descData, idOrganization, invitations, invited, labelNames,\
          \ memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred,\
          \ subscribed or url"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: "name, desc, descData, closed, idOrganization, pinned, url, shortUrl,\
            \ prefs and labelNames"
          example: "name, desc, descData, closed, idOrganization, pinned, url, shortUrl,\
            \ prefs and labelNames"
          type: string
          x-konfig-original-example: "name, desc, descData, closed, idOrganization,\
            \ pinned, url, shortUrl, prefs and labelNames"
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-get-parameters-37-schema
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getBoardsByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--boards-idBoard
      x-accepts: application/json
    put:
      operationId: Board_updateById
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards'
        description: Attributes of "Boards" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--boards-idBoard
      x-content-type: application/json
      x-accepts: application/json
  /boards/{idBoard}/actions:
    get:
      operationId: Board_listActionsByIdBoard
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: ' true or false'
        explode: true
        in: query
        name: entities
        required: false
        schema:
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: display
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: addAttachmentToCard, addChecklistToCard,\
          \ addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard,\
          \ commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,\
          \ createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard,\
          \ deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp,\
          \ emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization,\
          \ makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard,\
          \ moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard,\
          \ removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,\
          \ updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList,\
          \ updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList,\
          \ updateList:closed, updateList:name, updateMember or updateOrganization"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-actions-get-parameters-3-schema
        style: form
      - description: "all or a comma-separated list of: data, date, idMemberCreator\
          \ or type"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-actions-get-parameters-4-schema
        style: form
      - description: a number from 0 to 1000
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: "50"
          example: "50"
          type: string
          x-konfig-original-example: "50"
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-actions-get-parameters-5-schema
        style: form
      - description: "One of: count, list or minimal"
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: list
          example: list
          type: string
          x-konfig-original-example: list
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-actions-get-parameters-6-schema
        style: form
      - description: "A date, null or lastView"
        explode: true
        in: query
        name: since
        required: false
        schema:
          type: string
        style: form
      - description: "A date, or null"
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: Page * limit must be less than 1000
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: "0"
          example: "0"
          type: string
          x-konfig-original-example: "0"
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-actions-get-parameters-9-schema
        style: form
      - description: Only return actions related to these model ids
        explode: true
        in: query
        name: idModels
        required: false
        schema:
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: member
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: member_fields
        required: false
        schema:
          default: "avatarHash, fullName, initials and username"
          example: "avatarHash, fullName, initials and username"
          type: string
          x-konfig-original-example: "avatarHash, fullName, initials and username"
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-actions-get-parameters-12-schema
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: memberCreator
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: memberCreator_fields
        required: false
        schema:
          default: "avatarHash, fullName, initials and username"
          example: "avatarHash, fullName, initials and username"
          type: string
          x-konfig-original-example: "avatarHash, fullName, initials and username"
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-actions-get-parameters-14-schema
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getBoardsActionsByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--boards-idBoard-actions
      x-accepts: application/json
  /boards/{idBoard}/boardStars:
    get:
      operationId: Board_getBoardStarsById
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: "One of: mine or none"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: mine
          example: mine
          type: string
          x-konfig-original-example: mine
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-boardStars-get-parameters-1-schema
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getBoardsBoardStarsByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--boards-idBoard-boardStars
      x-accepts: application/json
  /boards/{idBoard}/calendarKey/generate:
    post:
      operationId: Board_generateCalendarKeyById
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: addBoardsCalendarKeyGenerateByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--boards-idBoard-calendarKey-generate
      x-accepts: application/json
  /boards/{idBoard}/cards:
    get:
      operationId: Board_getCardsByIdBoard
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: "all or a comma-separated list of: addAttachmentToCard, addChecklistToCard,\
          \ addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard,\
          \ commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,\
          \ createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard,\
          \ deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp,\
          \ emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization,\
          \ makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard,\
          \ moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard,\
          \ removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,\
          \ updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList,\
          \ updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList,\
          \ updateList:closed, updateList:name, updateMember or updateOrganization"
        explode: true
        in: query
        name: actions
        required: false
        schema:
          type: string
        style: form
      - description: A boolean value or &quot;cover&quot; for only card cover attachments
        explode: true
        in: query
        name: attachments
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: bytes, date, edgeColor, idMember,\
          \ isUpload, mimeType, name, previews or url"
        explode: true
        in: query
        name: attachment_fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-cards-get-parameters-3-schema
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: stickers
        required: false
        schema:
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: members
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: member_fields
        required: false
        schema:
          default: "avatarHash, fullName, initials and username"
          example: "avatarHash, fullName, initials and username"
          type: string
          x-konfig-original-example: "avatarHash, fullName, initials and username"
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-cards-get-parameters-6-schema
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: checkItemStates
        required: false
        schema:
          type: string
        style: form
      - description: "One of: all or none"
        explode: true
        in: query
        name: checklists
        required: false
        schema:
          default: none
          example: none
          type: string
          x-konfig-original-example: none
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-cards-get-parameters-8-schema
        style: form
      - description: a number from 1 to 1000
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: string
        style: form
      - description: "A date, or null"
        explode: true
        in: query
        name: since
        required: false
        schema:
          type: string
        style: form
      - description: "A date, or null"
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: "One of: all, closed, none, open or visible"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: visible
          example: visible
          type: string
          x-konfig-original-example: visible
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-cards-get-parameters-12-schema
        style: form
      - description: "all or a comma-separated list of: badges, checkItemStates, closed,\
          \ dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard,\
          \ idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels,\
          \ manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-cards-get-parameters-13-schema
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getBoardsCardsByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--boards-idBoard-cards
      x-accepts: application/json
  /boards/{idBoard}/cards/{filter}:
    get:
      operationId: Board_filterCardsByIdBoard
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: filter
        explode: false
        in: path
        name: filter
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
        api_token: []
      summary: getBoardsCardsByIdBoardByFilter()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--boards-idBoard-cards-filter
      x-accepts: application/json
  /boards/{idBoard}/cards/{idCard}:
    get:
      operationId: Board_getCardsByIdBoardByIdCard
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: idCard
        explode: false
        in: path
        name: idCard
        required: true
        schema:
          type: string
        style: simple
      - description: A boolean value or &quot;cover&quot; for only card cover attachments
        explode: true
        in: query
        name: attachments
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: bytes, date, edgeColor, idMember,\
          \ isUpload, mimeType, name, previews or url"
        explode: true
        in: query
        name: attachment_fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-cards-idCard-get-parameters-3-schema
        style: form
      - description: "all or a comma-separated list of: addAttachmentToCard, addChecklistToCard,\
          \ addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard,\
          \ commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,\
          \ createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard,\
          \ deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp,\
          \ emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization,\
          \ makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard,\
          \ moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard,\
          \ removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,\
          \ updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList,\
          \ updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList,\
          \ updateList:closed, updateList:name, updateMember or updateOrganization"
        explode: true
        in: query
        name: actions
        required: false
        schema:
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: actions_entities
        required: false
        schema:
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: actions_display
        required: false
        schema:
          type: string
        style: form
      - description: a number from 0 to 1000
        explode: true
        in: query
        name: actions_limit
        required: false
        schema:
          default: "50"
          example: "50"
          type: string
          x-konfig-original-example: "50"
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-cards-idCard-get-parameters-7-schema
        style: form
      - description: "all or a comma-separated list of: data, date, idMemberCreator\
          \ or type"
        explode: true
        in: query
        name: action_fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-cards-idCard-get-parameters-8-schema
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: action_memberCreator_fields
        required: false
        schema:
          default: "avatarHash, fullName, initials and username"
          example: "avatarHash, fullName, initials and username"
          type: string
          x-konfig-original-example: "avatarHash, fullName, initials and username"
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-cards-idCard-get-parameters-9-schema
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: members
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: member_fields
        required: false
        schema:
          default: "avatarHash, initials, fullName and username"
          example: "avatarHash, initials, fullName and username"
          type: string
          x-konfig-original-example: "avatarHash, initials, fullName and username"
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-cards-idCard-get-parameters-11-schema
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: checkItemStates
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: idCheckItem or state"
        explode: true
        in: query
        name: checkItemState_fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-cards-idCard-get-parameters-13-schema
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: labels
        required: false
        schema:
          type: string
        style: form
      - description: "One of: all or none"
        explode: true
        in: query
        name: checklists
        required: false
        schema:
          default: none
          example: none
          type: string
          x-konfig-original-example: none
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-cards-idCard-get-parameters-15-schema
        style: form
      - description: "all or a comma-separated list of: idBoard, idCard, name or pos"
        explode: true
        in: query
        name: checklist_fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-cards-idCard-get-parameters-16-schema
        style: form
      - description: "all or a comma-separated list of: badges, checkItemStates, closed,\
          \ dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard,\
          \ idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels,\
          \ manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-cards-idCard-get-parameters-17-schema
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getBoardsCardsByIdBoardByIdCard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--boards-idBoard-cards-idCard
      x-accepts: application/json
  /boards/{idBoard}/checklists:
    get:
      operationId: Board_getChecklistsById
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: "One of: all, closed, none, open or visible"
        explode: true
        in: query
        name: cards
        required: false
        schema:
          default: none
          example: none
          type: string
          x-konfig-original-example: none
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-checklists-get-parameters-1-schema
        style: form
      - description: "all or a comma-separated list of: badges, checkItemStates, closed,\
          \ dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard,\
          \ idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels,\
          \ manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
        explode: true
        in: query
        name: card_fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-checklists-get-parameters-2-schema
        style: form
      - description: "One of: all or none"
        explode: true
        in: query
        name: checkItems
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-checklists-get-parameters-3-schema
        style: form
      - description: "all or a comma-separated list of: name, nameData, pos, state\
          \ or type"
        explode: true
        in: query
        name: checkItem_fields
        required: false
        schema:
          default: "name, nameData, pos and state"
          example: "name, nameData, pos and state"
          type: string
          x-konfig-original-example: "name, nameData, pos and state"
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-checklists-get-parameters-4-schema
        style: form
      - description: "One of: all or none"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-checklists-get-parameters-5-schema
        style: form
      - description: "all or a comma-separated list of: idBoard, idCard, name or pos"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-checklists-get-parameters-6-schema
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getBoardsChecklistsByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--boards-idBoard-checklists
      x-accepts: application/json
    post:
      operationId: Board_addChecklists
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_checklists'
        description: Attributes of "Boards Checklists" to be added.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: addBoardsChecklistsByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--boards-idBoard-checklists
      x-content-type: application/json
      x-accepts: application/json
  /boards/{idBoard}/closed:
    put:
      operationId: Board_updateClosedById
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_closed'
        description: Attributes of "Boards Closed" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsClosedByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--boards-idBoard-closed
      x-content-type: application/json
      x-accepts: application/json
  /boards/{idBoard}/deltas:
    get:
      operationId: Board_getDeltasByIdBoard
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: A valid tag for subscribing
        explode: true
        in: query
        name: tags
        required: true
        schema:
          type: string
        style: form
      - description: a number from -1 to Infinity
        explode: true
        in: query
        name: ixLastUpdate
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getBoardsDeltasByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--boards-idBoard-deltas
      x-accepts: application/json
  /boards/{idBoard}/desc:
    put:
      operationId: Board_updateDescriptionByIdBoard
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_desc'
        description: Attributes of "Boards Desc" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsDescByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--boards-idBoard-desc
      x-content-type: application/json
      x-accepts: application/json
  /boards/{idBoard}/emailKey/generate:
    post:
      operationId: Board_generateEmailKey
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: addBoardsEmailKeyGenerateByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--boards-idBoard-emailKey-generate
      x-accepts: application/json
  /boards/{idBoard}/idOrganization:
    put:
      operationId: Board_updateOrganizationByIdBoard
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_idOrganization'
        description: Attributes of "Boards Id Organization" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsIdOrganizationByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--boards-idBoard-idOrganization
      x-content-type: application/json
      x-accepts: application/json
  /boards/{idBoard}/labelNames/blue:
    put:
      operationId: Board_updateLabelNamesBlueById
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labelNames_blue'
        description: Attributes of "Label Names Blue" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsLabelNamesBlueByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--boards-idBoard-labelNames-blue
      x-content-type: application/json
      x-accepts: application/json
  /boards/{idBoard}/labelNames/green:
    put:
      operationId: Board_updateLabelNamesGreenByIdBoardPut
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labelNames_green'
        description: Attributes of "Label Names Green" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsLabelNamesGreenByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--boards-idBoard-labelNames-green
      x-content-type: application/json
      x-accepts: application/json
  /boards/{idBoard}/labelNames/orange:
    put:
      operationId: Board_updateLabelNamesOrangeByIdBoard
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labelNames_orange'
        description: Attributes of "Label Names Orange" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsLabelNamesOrangeByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--boards-idBoard-labelNames-orange
      x-content-type: application/json
      x-accepts: application/json
  /boards/{idBoard}/labelNames/purple:
    put:
      operationId: Board_updateLabelNamesPurpleByIdBoard
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labelNames_purple'
        description: Attributes of "Label Names Purple" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsLabelNamesPurpleByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--boards-idBoard-labelNames-purple
      x-content-type: application/json
      x-accepts: application/json
  /boards/{idBoard}/labelNames/red:
    put:
      operationId: Board_updateLabelNamesRed
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labelNames_red'
        description: Attributes of "Label Names Red" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsLabelNamesRedByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--boards-idBoard-labelNames-red
      x-content-type: application/json
      x-accepts: application/json
  /boards/{idBoard}/labelNames/yellow:
    put:
      operationId: Board_updateLabelNamesYellowByIdBoard
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labelNames_yellow'
        description: Attributes of "Label Names Yellow" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsLabelNamesYellowByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--boards-idBoard-labelNames-yellow
      x-content-type: application/json
      x-accepts: application/json
  /boards/{idBoard}/labels:
    get:
      operationId: Board_listLabelsByIdBoard
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: "all or a comma-separated list of: color, idBoard, name or uses"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-labels-get-parameters-1-schema
        style: form
      - description: a number from 0 to 1000
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: "50"
          example: "50"
          type: string
          x-konfig-original-example: "50"
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-labels-get-parameters-2-schema
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getBoardsLabelsByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--boards-idBoard-labels
      x-accepts: application/json
    post:
      operationId: Board_addLabelsByIdBoard
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_labels'
        description: Attributes of "Boards Labels" to be added.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: addBoardsLabelsByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--boards-idBoard-labels
      x-content-type: application/json
      x-accepts: application/json
  /boards/{idBoard}/labels/{idLabel}:
    get:
      operationId: Board_getLabelsByIdBoardByIdLabel
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: idLabel
        explode: false
        in: path
        name: idLabel
        required: true
        schema:
          type: string
        style: simple
      - description: "all or a comma-separated list of: color, idBoard, name or uses"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-labels-idLabel-get-parameters-2-schema
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getBoardsLabelsByIdBoardByIdLabel()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--boards-idBoard-labels-idLabel
      x-accepts: application/json
  /boards/{idBoard}/lists:
    get:
      operationId: Board_getListsByIdBoard
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: "One of: all, closed, none, open or visible"
        explode: true
        in: query
        name: cards
        required: false
        schema:
          default: none
          example: none
          type: string
          x-konfig-original-example: none
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-lists-get-parameters-1-schema
        style: form
      - description: "all or a comma-separated list of: badges, checkItemStates, closed,\
          \ dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard,\
          \ idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels,\
          \ manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
        explode: true
        in: query
        name: card_fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-lists-get-parameters-2-schema
        style: form
      - description: "One of: all, closed, none or open"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: open
          example: open
          type: string
          x-konfig-original-example: open
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-lists-get-parameters-3-schema
        style: form
      - description: "all or a comma-separated list of: closed, idBoard, name, pos\
          \ or subscribed"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-lists-get-parameters-4-schema
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getBoardsListsByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--boards-idBoard-lists
      x-accepts: application/json
    post:
      operationId: Board_createListsByIdBoard
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_lists'
        description: Attributes of "Boards Lists" to be added.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: addBoardsListsByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--boards-idBoard-lists
      x-content-type: application/json
      x-accepts: application/json
  /boards/{idBoard}/lists/{filter}:
    get:
      operationId: Board_getListsByFilter
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: filter
        explode: false
        in: path
        name: filter
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
        api_token: []
      summary: getBoardsListsByIdBoardByFilter()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--boards-idBoard-lists-filter
      x-accepts: application/json
  /boards/{idBoard}/markAsViewed:
    post:
      operationId: Board_markAsViewedByIdBoard
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: addBoardsMarkAsViewedByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--boards-idBoard-markAsViewed
      x-accepts: application/json
  /boards/{idBoard}/members:
    get:
      operationId: Board_getMembersByIdBoard
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: "One of: admins, all, none, normal or owners"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: all
          example: all
          type: string
          x-konfig-original-example: all
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-members-get-parameters-1-schema
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: fullName and username
          example: fullName and username
          type: string
          x-konfig-original-example: fullName and username
          x-konfig-generated-schema: konfig-generated-schema-paths--boards-idBoard-members-get-parameters-2-schema
        style: form
      - description: true or false ; works for premium organizations only.
        explode: true
        in: query
        name: activity
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getBoardsMembersByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--boards-idBoard-members
      x-accepts: application/json
    put:
      operationId: Board_updateMembersByIdBoard
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/boards_members'
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsMembersByIdBoard()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--boards-idBoard-members
      x-content-type: application/json
      x-accepts: application/json
  /boards/{idBoard}/members/{filter}:
    get:
      operationId: Board_getMembersByFilter
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: filter
        explode: false
        in: path
        name: filter
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
        api_token: []
      summary: getBoardsMembersByIdBoardByFilter()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--boards-idBoard-members-filter
      x-accepts: application/json
  /boards/{idBoard}/members/{idMember}:
    delete:
      operationId: Board_removeMember
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: idMember
        explode: false
        in: path
        name: idMember
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: deleteBoardsMembersByIdBoardByIdMember()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--boards-idBoard-members-idMember
      x-accepts: application/json
    put:
      operationId: Board_updateMembersByIdBoardByIdMember
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: idMember
        explode: false
        in: path
        name: idMember
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/boards_members'
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsMembersByIdBoardByIdMember()
      tags:
      - board
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--boards-idBoard-members-idMember
      x-content-type: application/json
      x-accepts: application/json
  /boards/{idBoard}/members/{idMember}/cards:
    get:
      operationId: Board_getMembersCardsByIdBoardByIdMember
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: idMember
        explode: false
        in: path
        name: idMember
        required: true
        schema:
          type: string
        style: simple
      - description: "all or a comma-separated list of: addAttachmentToCard, addChecklistToCard,\
          \ addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard,\
          \ commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,\
          \ createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard,\
          \ deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp,\
          \ emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization,\
          \ makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard,\
          \ moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard,\
          \ removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,\
          \ updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList,\
          \ updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList,\
          \ updateList:closed, updateList:name, updateMember or updateOrganization"
[...]
